<div>Add Example template here</div>
<h2>Example Component</h2>
<div data-controller="example-component">
  <input data-example-component-target="name" type="text">
  <button data-action="click->example-component#greet">
    Greet
  </button>
  <span data-example-component-target="output">
  </span>
</div>
<h2>Sub One Component</h2>
<div data-controller="sub--one-component">
  <input data-sub--one-component-target="name" type="text">
  <button data-action="click->sub--one-component#greet">
    Greet
  </button>
  <span data-sub--one-component-target="output">
  </span>
</div>
